:root{
    --primaryColor : red;
    --secondaryColor : #f7bcf7;
    --lightColor : #ffffff ;
    --bgColor-1: #171a1c ;
    --bgColor-2: #22282a;
    --padding : 8% ;
}

html{
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background: var(--bgColor-2);
    color: var(--lightColor);
}

.labels{
    width: 633px;
    height: 500px;
    background-color: transparent;
    margin-left: 30%;
    align-content: center;
    padding: 100px;
    margin-top: 0%;
}

.khas{
    margin: 15px; 
    background-color: var(--bgColor-1);
    border-radius: 9999px;
    border-style: none;
    padding: 10px;
    color: white;
    font-size: 17px;
    
    
}

.input-email{
    margin: 30px auto;
    width: 80%;
    border-bottom: 1px solid red;
    padding-bottom: 1px;
    padding-top: 0px;
}

.input-email input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}

::placeholder{
    color: rgb(123, 123, 123);
}

.subscribe{
    font-size: 50px;
    padding-left: 45%;
}

span{
    color: red;
}