:root{
    --primaryColor : red;
    --secondaryColor : #f7bcf7;
    --lightColor : #ffffff ;
    --bgColor-1: #171a1c ;
    --bgColor-2: #22282a;
    --padding : 8% ;
}
html{
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background: var(--bgColor-2);
    color: var(--lightColor);
}

h1{
    padding-top: 50px;
    text-align: center;
    color: var(--primaryColor);
    font-size: 60px;
}

span{
    color: var(--lightColor);
}

.con{
    text-align: left;
    padding-top: 25px;
    padding-left: 50px;
    font-size: 20px;
    transition: 0.2s;
}

.bit{
    padding-top: 60px;
}

.con:hover{
    color: var(--primaryColor);
    font-size: 30px ;

}

.hope{
    text-decoration: none;
    color: white;
}
.hope:hover{
    color: red;
}